/*Pavan Vittala*/
/*Styles for map.html*/

/*
nav {
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 9999;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}
*/

.controls {
       

        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

.tableOfTolls {
    background-color: whitesmoke;
    position: relative;
	/*right: 20px;*/
    top: 60px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: medium solid black;
    border-radius: 5px;
}

.tollTitle {
	font-weight: bold;
}

.tollTableCheckbox {
	text-align: center;
}

.addressInput {
    background-color: whitesmoke;
	position: relative;
	/*left: 20px;*/
    top: 60px;
	padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: medium solid black;
    border-radius: 5px;
}

.addressTitle {
	font-weight: bold;
	padding-bottom: 5px;
}

/*The following 3 CSS definitions involve pseudo-classes*/
footer:a:link {
	color: #FF00FF;
}

footer:a:visited {
    color: #0000FF;
}

footer:a:hover {
    color: lightgreen;
}

.tollSource {
    background-color: whitesmoke;
	position: fixed;
	bottom: 0;
    left: 0;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contactInfo {
	position: fixed;
    bottom: 0;
	right: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}

#show-hide-button-address {
    position: relative;
    top: 60px;
}

#show-hide-button-tolls {
    position: relative;
	top: 60px;
}

#search {
    position: absolute;
    right: 10px;

}

#searchTitle {
    position: absolute;
    right: 0;
}

#searchInput {
    width: 250px;
}

#fromAddress {
    width: 250px;
}

#toAddress {
    width: 250px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

