/*Pavan Vittala*/
/*Styles for dataEntry.html*/

nav {
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 9999;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}

body {
    color: white;
    margin: 0;
}


.backgroundImage {
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    z-index: -9999;
    background-image: url("../img/space.jpg");
    width: 3840px;
    height: 2160px;
    filter: blur(5px);
}


.opaqueBox {
    position: relative;
    top: 60px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: #000000;
    opacity: 0.6;
    padding-left: 20px;
}

input {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
    color: #000000;
}
