.tableOfTolls {
    position: absolute;
	right: 20px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: medium solid black;
    border-radius: 5px;
}

.tollTitle {
	font-weight: bold;
}

.tollTableCheckbox {
	text-align: center;
}

.addressInput {
	position: absolute;
	left: 20px;
	padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: medium solid black;
    border-radius: 5px;
}

.addressTitle {
	font-weight: bold;
	padding-bottom: 5px;
}

/*The following 3 CSS definitions involve pseudo-classes*/
footer:a:link {
	color: #FF00FF;
}

footer:a:visited {
    color: #0000FF;
}

footer:a:hover {
    color: lightgreen;
}

.tollSource {
	position: fixed;
	bottom: 0;
	left: 0;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contactInfo {
	position: fixed;
	bottom: 0;
	right: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}

nav {
    z-index: 9999;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}
